.collections-item {
  margin: 10px;
  flex-basis: 23%;
  min-width: 250px;
  width: 23%;

  &__content {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
  }

  &__image {
    width: auto;
    height: 300px;

    > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}