@import '../../styles/fonts';

.collections-item {
  margin: 10px;
  flex-basis: 23%;
  min-width: 250px;
  width: 23%;

  &__content {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
  }

  &__image {
    width: auto;
    height: 300px;
    position: relative;
    overflow: hidden;
    border: 1px solid black;

    > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform 6s linear;
    }

    &:hover {
      & img {
        transform: scale(1.2);
      }
      & .collections-item__image-overlay {
        opacity: 1;
  
        & .collections-item__image-overlay-content {
          bottom: 15px
        }
      }
    } 

    &-overlay {
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: rgba(0,0,0,0.6);
      transition: 0.3s ease-in-out;
      cursor: pointer;
      overflow: hidden;

      &-content {
        position: absolute;
        bottom: -50px;
        left: 50%;
        transform: translateX(-50%);
        width: 80%;
        transition: 0.3s ease-in-out;
        
        > button {
          font-family: OpenSans;
          font-size: 1.3rem;
          width: 100%;
          padding: 5px;
          border: 1px solid black;
          background-color: white;
          cursor: pointer;
          
          &:hover {
            background-color: black;
            color: white;
          }
        }
      }
    }
  }
}