@font-face {
  font-family: "OpenSans";
  src: url("../assets/fonts/OpenSansCondensed-Light.ttf");
}

  
@font-face {
  font-family: "OpenSansBold";
  src: url("../assets/fonts/OpenSansCondensed-Bold.ttf");
}