@import './fonts';
@mixin inputField {
  margin: 50px 0;
  & > label {
    color: #afafaf;
    text-transform: capitalize;
    display: block;
    padding-left: 5px;
  }

  & > input {
    display: block;
    border: none;
    outline: none;
    border-bottom: 1px solid #afafaf;
    padding: 10px;
    transition: 0.3s linear;
    width: 100%;
    font-size: 1.2rem;
    font-family: OpenSans;

    &:focus {
      border-bottom: 1px solid black;
    }
  }
}